@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

path { transition: fill .4s ease; }

#root {
    height: 100%;
    min-width: 765px;
    background-color: #222;
}

.main {
    height: 90%;
    width: 100%;
    display: flex;
}

.main__nav {
    padding-top: 24px;
    height: 100%;
    width: 20%;
    background-color: black;
}

.nav_logo a {
    display: block;
    height: 40px;
    padding: 0 24px;
    margin-bottom: 18px;
}

.nav_logo a svg {
    width: 100%;
    max-width: 131px;
    height: 40px;
}

.nav_btn {
    list-style: none;
    padding: 0 8px;
}

.nav_btn__btn {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #b3b3b3;
    transition: .4s;
}

.nav_btn__btn:hover {
    cursor: pointer;
    color: white;
}

.nav_btn__btn:hover > svg {
    fill: white
}

.nav_btn__btn_active {
    color: white;
}

.nav_btn__btn > svg {
    margin-right: 8px;
}

.main__container {
    height: 100%;
    width: 80%;
}

.top_bar{
    width: 100%;
    height: 64px;
    /* background-cprofile_btnolor: aliceblue; */
}

.top_bar__header {
    padding: 16px 32px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.navigation_btns {
    display: flex;
    justify-content: space-around;
    width: 12%;
}

.navigation_btn {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.navigation_btn_disabled {
    opacity: .5;
}

.navigation_btn:hover {
    cursor: pointer;
}

.navigation_btn_disabled:hover {
    cursor:not-allowed;
}
.profile_btn {
    height: 32px;
    display: flex;
    background-color: #111;
    border-radius: 23px;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
}

.profile_btn span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
    font-size: 0.875rem;
}

.profile_btn > svg {
    margin-right: 6px;
}

.profile_btn__avatar {
    width: 28px;
    height: 28px;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* margin-left: 1%; */
}

.profile_btn:hover {
    background-color: #333;
    cursor: pointer;
}

.content {
    height: 100%;
}

.now_playing_bar {
    height: 10%;
    padding: 0 16px;
}