* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#root {
    height: 100%;
    min-width: 765px;
    background-color: #222;
}

.main {
    height: 90%;
}

.main__nav {
    padding-top: 24px;
    height: 100%;
    width: 25%;
    background-color: black;
}

.nav_logo a {
    height: 40px;
    padding: 0 24px;
    margin-bottom: 18px;
}

.nav_logo a svg {
    width: 100%;
    max-width: 131px;
    height: 40px;
}

.content {
    height: 100%;
    width: 75%;
}

.now_playing_bar {
    height: 10%;
    padding: 0 16px;
}