@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body {
    width: 100%;
    height: 100%;
}

path { transition: fill .4s ease; }

#root {
    height: 100%;
    min-width: 765px;
    background-color: #222;
}

.main {
    height: 90%;
    width: 100%;
    display: flex;
}

.main__nav {
    padding-top: 24px;
    height: 100%;
    width: 15%;
    min-width: 200px;
    background-color: black;
}

.nav_logo__link {
    display: block;
    height: 40px;
    padding: 0 24px;
    margin-bottom: 18px;
}

.nav_logo__icon {
    width: 100%;
    max-width: 131px;
    height: 40px;
}

.nav_btns {
    list-style: none;
    padding: 0 8px;
}

.nav_btns__line {
    margin-top: 10px;
    height: 1px;
    background-color: #333;
    border: none;
}

.nav_btns__btn {
    padding: 0 16px;
    display: flex;
    align-items: center;
    height: 40px;
    color: #b3b3b3;
    transition: .4s;
}

.nav_btns__btn:hover {
    cursor: pointer;
    color: white;
}

.nav_btns__btn:hover > svg {
    fill: white
}

.nav_btns__btn_active {
    color: white;
}

.nav_btns__icon {
    margin-right: 8px;
}

.main__container {
    height: 100%;
    width: 85%;
}

.top_bar{
    width: 100%;
    height: 64px;
    /* background-cprofile_btnolor: aliceblue; */
}

.top_bar__header {
    padding: 16px 32px;
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.navigation_btns {
    max-width: 100px;
    display: flex;
    justify-content: space-around;
    width: 12%;
}

.navigation_btn {
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
}

.navigation_btn__disabled {
    opacity: .5;
}

.navigation_btn:hover {
    cursor: pointer;
}

.navigation_btn_disabled:hover {
    cursor:not-allowed;
}
.profile_btn {
    max-width: 200px;
    min-width: 130px;
    height: 32px;
    display: flex;
    background-color: #111;
    border-radius: 23px;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: 600;
}

.text_ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile_btn__titile {
    max-width: 55%;
    font-size: 0.875rem;
}

.profile_btn__show_more {
    margin-right: 6px;
}

.profile_btn__avatar {
    width: 28px;
    height: 28px;
    background-color: #535353;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.profile_btn:hover {
    background-color: #333;
    cursor: pointer;
}

.content {
    height: calc(100% - 64px);
    padding: 0 32px;
    padding-top: 24px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.content__section {
    display: flex;
    flex-wrap: wrap;
    height: 45%;
    min-height: 350px;
    min-width: 100%;
    margin-bottom: 16px;
}

.section__title {
    width: 100%;
    height: 20%;
    max-height: 50px;
    display: flex;
    margin-bottom: 16px;
    color: white;
    align-items: center;
}

.section__title_text {
    margin-right: auto;
}

.section__show_all {
    text-transform: uppercase;
    margin-left: 8px;
    font-weight: 700;
    font-size: 0.9rem;
    color: #cacaca;
}

.section__title_text:hover,
.section__show_all:hover {
    text-decoration: underline;
    cursor: pointer;
}

.section__content{
    width: 100%;
    height: 80%;
}

.album_card {
    background-color: #1d1d1d;
    height: 100%;
    padding: 16px;
    width: 215px;
    border-radius: 5px;
    transition: .5s;
}

.album_card:hover {
    cursor: pointer;
    background-color: #2b2b2b;
}

.album_card__image {
    height: auto;
    padding-bottom: 16px;
    height: 80%;
}

.album_card__image_content {
    height: 100%;
    width: 100%;
}

.album_card__info {
    display: flex;
    flex-direction: column;
    height: 20%;
    min-height: 62px;
    color: white;
}

.album_title {
    max-height: 70%;
    font-weight: 600;
    font-size: 1rem;
    padding-bottom: 4px;
}

.album_author {
    max-height: 30%;
    font-size: 0.785rem;
    color: #cacaca;
}


.now_playing_bar {
    border-top: 1px solid #444;
    height: 10%;
    padding: 0 16px;
}

.now_playing_bar__footer {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__wrapper {
    width: 40%;
}

.player {
    width: 100%;
    color: red;
}

.player::-webkit-media-controls-panel,
.player::-webkit-media-controls-enclosure {
    background-color: #707070;
}

/* .player::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
} */